[user]
        name = Lisa Ross
        email = lr@footprintleadership.com
[color]
        ui = auto
[core]
        excludesfile = /Users/broad/.gitignore_global
[difftool "sourcetree"]
        cmd = opendiff \"$LOCAL\" \"$REMOTE\"
        path =
[mergetool "sourcetree"]
        cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true
[commit]
        template = /Users/broad/.stCommitMsg
